*.*~
*~
#/app/Config
#/app/tmp/cache
/plugins
/vendors
/build/api
/build/code-browser
/build/coverage
/build/logs
/build/pdepend
/app/tmp/logs
/app/tmp/session
/app/tmp/tests/views
/app/tmp/cache/models
/app/webroot/files/credit-viewer/
/app/webroot/files/programs/
/app/tmp/cache/persistent
/app/webroot/files/testurl/
/things to note
#empty
/lib/Cake
.vagrant
.DS_Store
/vendor/
.*
app/webroot/files/programs
