[submodule "app/Plugin/Mongodb"]
	path = app/Plugin/Mongodb
	url = git://github.com/ichikaway/cakephp-mongodb.git
[submodule "backend"]
	path = backend
	url = git://github.com/texttochange/vusion-backend.git
