<?xml version="1.0" encoding="utf-8" ?>

<phpunit stopOnFailure="false">

<filter>
    <whitelist>
            <directory suffix=".php">app/Controller/</directory>
            <directory suffix=".php">app/Model/</directory>
    </whitelist>
</filter>

<logging>
        <log type="jiunit" target="build/logs/junit.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
</logging>

</phpunit> 
