.ttc-link {
	color : grey;
}

.ttc-link-header {
	color : lightGrey;
	float : right;
	margin-right: 10px;
	text-decoration: none;
}

.ttc-link-header:hover {
	color : white;
	text-decoration: none;
}

#header .ttc-title {
/*	background : url("../img/vusion-logo-wide.png") no-repeat scroll 0 0 transparent;*/
	height: 30px;
	font-size : 30px;
	font-weight : bold;	
	line-height : 30px;
	float : left;
}

.ttc-info-box {
	padding : 10px;
	margin-top : 20px;
}

.ttc-text {
	padding-bottom : 10px;
	font-size : 18px;
}

.ttc-button{
	font-weight:normal;
	padding: 4px 8px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border:1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
	margin-left: 4px;
}

.ttc-button:hover {
	background: #ededed;
	border-color: #acacac;
	text-decoration: none;
	cursor: pointer;
}

.ui-dform-legend {
	color : gray;
	font-size : 18px;
	font-weight : normal;
	margin-left: 10px;
}

.ui-dform-fieldset {
	border: 1px solid gray;
	margin : 4px 4px 4px 10px;
}

.ui-dform-label {
/*	float : left;*/
/*	margin-top : 5px;*/
	margin-right : 10px;
	margin-left: 5px;
}

.ui-dform-radio {
	float: none;
}

.ui-dform-radiobuttons{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.ui-dform-text {
	margin-left : 10px;
	height : 10px;
	margin-bottom : 10px;
	width : 92%;
}

.ui-dform-addElt {
	margin :5px;	
}

[name*=interactions\[]:not(input):not([name*=answer]):not([radiochildren]):nth-child(odd) {
/*	background:#E3E4FA;*/
        background: #FFD97B;
}

[name*=interactions\[]:not(input):not([name*=answer]):not([radiochildren]):nth-child(even) {
	/*background:#FDEEF4;*/
	background: #FFCB4B;
}

.ttc-actions {
    float: left;
    padding: 3px;
    margin: 0;
    width: 70%;
}   

.ttc-actions li{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 3px;
}
.ttc-actions li a{
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;    
    padding: 4px 8px;
    display: block;
    background: -moz-linear-gradient(center top , #FEFEFE, #DCDCDC) repeat scroll 0 0 #DCDCDC;
    text-decoration: none;
    font-weight: normal;
}

.ttc-info{
    border: 0;
    float: right;
    padding: 10px 2%;
    width: 98%;    
    height: 390px;
}

.ttc-status {
	float : right;
	width : 20%;
	margin-bottom : 10px;
}

.ttc-left-header {
	float: left;
	width : 30%;
}

.ttc-central-header {
	float: right;
	width: 30%;
	padding-top: 25px;
	padding-right: 10px;
}

.ttc-right-header {
	float : right;
	color: white;
}

.ajax-flash-message {
	position: fixed;
	top: 10px;
	left: 30%;
	background: yellow;
	padding-left: 10px;
	padding-right: 10px;
}

.ttc-filter {
	text-align: right;
}

.ttc-program-header {
	height: 50px;
	background: #19C1FF;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
}

.ttc-program-title{
	font-size: 22px;
}

.ttc-program-link{
	padding-left: 10px;
}

.ttc-program-time {
	float:right;
	margin-top: 15px;
	color: #003D4C;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { 
        margin-bottom: 8px; 
}
.ui-timepicker-div dl { 
        text-align: left; 
}
.ui-timepicker-div dl dt { 
        height: 25px; 
        margin-bottom: -25px; 
}
.ui-timepicker-div dl dd { 
        margin: 0 10px 10px 65px; 
}
.ui-timepicker-div td { 
        font-size: 90%; 
}
.ui-tpicker-grid-label { 
        background: none; 
        border: none; 
        margin: 0; 
        padding: 0; 
}

.ttc-help {
	height: 16px;
}

.ttc-help-box {
	background: #EDEDED;
}

.ttc-notification {
	border: 1px solid;
	float: right;
	padding: 10px 1%;
	width: 30%;
	height: 95px;
	overflow-y: auto;
}

.ttc-simulator-output {
	border: 1px solid black;
	height: 200px;
	overflow-y: scroll;
	margin-bottom: 30px;
}

.ttc-simulator-input {

}

.ttc-validation-error {

}

.ttc-login-title{
}

.ttc-login-container{
	position: relative;
	width: 40%;
	left: 30%;
}

.ttc-login-input {
	width:100%;
	font-size: 100%;
	float: none;
	display: block;
}

.ttc-navigation-menu {
	float: left;
	padding: 10px 1.5%;
	width: 15%;
}

.ttc-program-index {
    float: left;
    padding: 15px 2%;
    width: 60%;
}

.ttc-program-index h3 {
    border-bottom: solid;
}

.ttc-program-news {
    float: left;
    padding: 15px 2%;
    width: 30%;
}
.ttc-program-news h3 {
    border-bottom: solid;
}

.ttc-program-box {
    cursor: pointer;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 14px;
    height: 40px;
    background: -moz-linear-gradient(center top , #FEFEFE, #DCDCDC) repeat scroll 0 0 #DCDCDC;
    border: 1px solid #BBBBBB;
}

.ttc-program-box:hover{
   background: #19C1FF;;
}

.ttc-program-box a{
   font-weight: normal;
   text-decoration: none;
}

.ttc-program-index .ttc-program-title {
    position: absolute;
    left: 10px;
    top: 15px;
}

.ttc-program-details {
    position: absolute;
    left: 20px;
    top: 37px;
}

.ttc-program-stats {
    position: absolute;
    left:400px;
    top: 7px;
}

.ttc-program-quicklinks{
    position: absolute;
    left: 622px;
    top: 10px;
}

.ttc-program-news .ttc-program-box {
    height: 20px;
    padding: 5px;
    text-align: center;
}

