.ttc-link {
        color : grey;
}

/*Fix the default cake 'form div' CSS rule */
.chzn-container{
        margin-bottom: 0px
}

.sublabel {
        margin-left: 5px;
}

.subinput {
        margin-left: 10px;
        margin-bottom: 0px;
        padding: 0px;
}

.subinput input{                                              
        margin: 2px 0px 0px 5px;
}

.ttc-link-header {
        color : lightGrey;
        float : right;
        margin-right: 10px;
        text-decoration: none;
}

.ttc-link-header:hover {
        color : white;
        text-decoration: none;
}

#header .ttc-title {
        /*    background : url("../img/vusion-logo-wide.png") no-repeat scroll 0 0 transparent;*/
        height: 30px;
        font-size : 30px;
        font-weight : bold;    
        line-height : 30px;
        float : left;
}

.ttc-info-box {
        padding : 10px;
        margin-top : 20px;
}

.ttc-text {
        padding-bottom : 10px;
        font-size : 18px;
}

.status-message {
        /* width: 100%;*/
        height: 0px;
}

.status-table {
        text-align: center;
        border-spacing: 0px;
        border-collapse: collapse;
        width: 100%;
}

.ttc-button{
        font-weight:normal;
        font-size: 14px;
        padding: 4px 8px;
        background: #dcdcdc;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
        background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
        background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
        background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
        background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
        background-image: linear-gradient(top, #fefefe, #dcdcdc);
        color:#333;
        border:1px solid #bbb;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-decoration: none;
        text-shadow: #fff 0px 1px 0px;
        min-width: 0;
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
        -webkit-user-select: none;
        user-select: none;
        margin-left: 4px;
}

.ttc-button:hover {
        background: #ededed;
        border-color: #acacac;
        text-decoration: none;
        cursor: pointer;
}


.ui-dform-legend {
        color : gray;
        font-size : 18px;
        font-weight : normal;
        margin-left: 10px;
}

.ui-dform-fieldset {
        border: 1px dotted gray;
        margin : 4px 4px 4px 10px;
        position: relative;
        padding-bottom: 10px;
}

.ui-dform-fieldset .actions {
        border: none;
}    

.ui-dform-label {
        /*    float : left;*/
        /*    margin-top : 5px;*/
        margin-right : 10px;
        margin-left: 5px;
}

.ui-dform-textarea {
        background: white;
        margin-left: 10px;
        margin-right: 10px;
}

.ui-dform-radio {
        float: none;
}

.ui-dform-radiobuttons, .ui-dform-checkboxes{
        margin-bottom: 0px;
        padding-bottom: 0px;
}

.ui-dform-checkbox{
        padding-top: 6px;
        padding-left: 4px;
}

.ui-dform-text {
        width: 96%;
        margin-left : 10px;
        margin-bottom : 10px;
}

.ui-dform-addElt {
        margin :5px;    
}

[name*='Dialogue'][item=auto-enrollment-box] {
        background-color: lightyellow;
}

[name*=Dialogue][item=interaction]:not(.ttc-interaction-disabled):nth-child(odd) {
        /*    background:#E3E4FA;*/
        background: #FFD97B;
}

[name*=Dialogue][item=interaction]:not(.ttc-interaction-disabled):nth-child(even) {
        /*background:#FDEEF4;*/
        background: #FFCB4B;
}

[name*=Request][item=response]:nth-child(odd) {
        background: #FFD97B;
}

[name*=Request][item=response]:nth-child(even) {
        background: #FFCB4B;
}

[name*=Request][item=action]:nth-child(odd) {
        background: #FFD97B;
}

[name*=Request][item=action]:nth-child(even) {
        background: #FFCB4B;
}

.ttc-actions {
        float: right;
        padding: 7px 0px 3px 3px;
        margin-top: -8px;
        margin-left: 0;
        margin-right: 0px;
        /*width: 77%;*/
}   

.ttc-actions li{
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 3px;
}

.ttc-actions li a{
        border: 1px solid #BBBBBB;
        /* border-radius: 4px 4px 4px 4px; */    
        /*  padding: 4px 8px; */
        /*  display: block; */
        background: -moz-linear-gradient(center top , #FEFEFE, #DCDCDC) repeat scroll 0 0 #DCDCDC;
        text-decoration: none;
        font-weight: normal;
}

.ttc-actions li select{
        margin-top: -8px;
}

.ttc-actions form{
        margin: 0;
}

.ttc-actions li div{
        color: #003D4C;
        /*background: #62af56;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
        background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
        background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);*/
        border-color: #2d6324;
        padding: 4px 5px;
}

.ttc-actions li div:hover{
        /*background:#5BA150;*/
        color: #367889;
}

.ttc-info{
        border: 0;
        float: right;
        padding: 0 2% 10px 2%;
        width: 98%;    
        height: 390px;
}

.ttc-status {
        float : right;
        width : 20%;
        margin-bottom : 10px;
}

.ttc-left-header {
        float: left;
        width : 30%;
}

.ttc-central-header {
        float: right;
        min-width: 32%;
        padding-top: 25px;
        padding-right: 10px;
}

.ttc-right-header {
        float : right;
        color: white;
}

.ajax-flash-message {
        position: fixed;
        top: 10px;
        left: 30%;
        background: yellow;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 10;
}

.ttc-filter {
        text-align: right;
        width: 102.78%;
}

.ttc-filter form {
        float: right;
        margin-right: 2px;
        padding-bottom: 10px;
}

.ttc-program-header {
        height: 50px;
        background: #19C1FF;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 800px;    
}

.ttc-program-title{
        font-size: 22px;
}

.ttc-program-link{
        padding-left: 10px;
}

.ttc-program-time {
        float:right;
        margin-top: 15px;
        color: #003D4C;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { 
        margin-bottom: 8px; 
}
.ui-timepicker-div dl { 
        text-align: left; 
}
.ui-timepicker-div dl dt { 
        height: 25px; 
        margin-bottom: -25px; 
}
.ui-timepicker-div dl dd { 
        margin: 0 10px 10px 65px; 
}
.ui-timepicker-div td { 
        font-size: 90%; 
}
.ui-tpicker-grid-label { 
        background: none; 
        border: none; 
        margin: 0; 
        padding: 0; 
}

.ttc-help {
        height: 16px;
}

.ttc-help-box {
        background: #EDEDED;
}

.ttc-notification {
        border: 2px solid #d3d3d3;
        float: left;
        padding: 2px 2px;
        min-width: 190px;
        height: 95px;
        overflow-y: auto;
        font-size: 9px;
}

.ttc-simulator-output {
        border: 1px solid black;
        height: 200px;
        overflow-y: scroll;
        margin-bottom: 30px;
}

.ttc-simulator-input {
        
}

#dynamic-generic-program-form .error {
        position: relative;
}

.ttc-validation-error {
        position: absolute;
        left: -700px;
        top: -50px;
        top: -35px\9;
        background: pink;
        border: solid white;
        padding: 5px;
        font-size: 12px;
}

.ttc-radio-validation-error {
        left: 30px;
}

.ttc-textarea-validation-error {   
        top : -96px;
        top: -52px\9;     
}

.request.ttc-textarea-validation-error{  
        left: -671px;   
}

.dialogue.ttc-textarea-validation-error{  
        left: 191px;
        top : -113px;
        top: -59px\9;
}

.ttc-input-validation-error {
        top: -49px;
        top: -64px\9;    
        left: 191px\9;
}

.ui-dform-form textarea {
        height: 30px;
        font-size: 12px;
}

.ui-dform-spanradio {
    white-space: nowrap;
}

.ui-dform-spanradiobuttons {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*FF hack*/
@-moz-document url-prefix() { 
  .ttc-textarea-validation-error {top: -59px;}
}

/*Chrome hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
        .ttc-validation-error{ top: -32px; }
        .ttc-radio-validation-error{ top: -38px;}
        .ttc-textarea-validation-error {top: -60px; left: 170px}
        .ttc-input-validation-error {left: 198px; top: -61px;}
        .ttc-textarea-validation-error.dialogue {top: -60px; left: 68px;}
        .ttc-textarea-validation-error.request {top: -60px; left: 170px;}
}

.ttc-validation-error:after {
        border-width: 12px;
        border-style: solid;
        border-color: white transparent transparent transparent;
        content: ""; /* Forces this pseudo-element to appear on hover */
        height: 2px; /* Width and height could  be left out, but I prefer a less 'pointy' triangle */
        width: 2px;
        position: absolute;
        top: 27.5px;
        left: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
        .ttc-validation-error:after{   top: 26.5px; }
}

.ttc-summary-error{
        background:pink;
        position:absolute;
        border: solid white;
        padding: 5px;
        font-size: 12px;
        right: 90px;
        top: 26px;
}

.ttc-login-title{
}

.ttc-login-container{
        position: relative;
        width: 40%;
        left: 30%;
        top: 60px;
}

.ttc-login-input {
        /*width:100%;*/
        font-size: 100%;
        float: none;
        display: block;
}

.ttc-login-container .required{
        font-weight: normal;
}

.ttc-login-container .required label:after{
        content: "";
}

.ttc-report-issue-container {
        position: relative;
        width: 558px;        
}

.popup-layout {
        min-width: 560px;
}

.popup-container {
        text-align: left;
        min-width: 560px;
}

.popup-header {
        padding: 5px 20px;
        height: 40px;
        background: black;
        min-width: 560px;
}
.report-issue-describtion {
        width: 516px;        
}

.report-issue-message {
        margin-left:7px;
        height: 115px;
        resize: none;
}
.report-message-footer {
        width: 560px;
}
/*
.ttc-display-area .required:after {
color: #E32;
content: '*';
display: inline;
}*/

.ttc-navigation-menu {
        float: left;
        /*width: 16%;*/
        /*width: 100%;
        min-width: 127px;*/
        padding-top: 10px;
        /*padding-left: 12px;*/
}

.ttc-navigation-menu a {
        font-weight: normal;
        color: black;
}

.ttc-program-index {
        float: left;
        padding: 15px 2%;
        width: 60%;
        min-width: 737px;
}

.ttc-program-index h3 {
        border-bottom: solid;
        padding-bottom: 5px;
}

.ttc-recent-issues {
        float: right;
        padding: 15px 2%;
        width: 29%;
}
.ttc-recent-issues h3 {
        border-bottom: solid;
        padding-bottom: 5px;
}

.ttc-issues-list {
        list-style: none;
        overflow: hidden;
        margin: 0;
}

.ttc-issues-list li {
        padding: 2px 2px;
        margin: 0 0 5px;
        border-bottom: 1px solid #DDDDDD;
}

.ttc-issues-list div.ttc-issue-content {
        margin-right: 15px;
        overflow: hidden;
}

.ttc-issues-list div.ttc-issue-time {
        float: right;
        text-align: right;
        /*margin-top: 17px;*/
        width: 170px;
}

.ttc-issue-content h3 {
        display: inline;
        font-size: 1em;
        line-height: 1.2em;
        border: 0;
        padding: 0;
        margin: 0;
}

.ttc-issue-content h3 a{
        text-decoration: none;
        font-weight: normal;
        font-style: italic;
}

.ttc-issue-content h3 a:hover{
        text-decoration: underline;
}

.ttc-issue-content p {
        font-size: 1em;
        padding: 0;
        margin: 0;
}

.ttc-program-box {
        cursor: pointer;
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 14px;
        height: 40px;
        border: 1px solid #BBBBBB;
}

.archived {
    background-color: lightgray;
}

.ttc-program-box:hover{
        background: #19C1FF;;
}

.ttc-program-box a{
        font-weight: normal;
        text-decoration: none;
}

.ttc-program-index .ttc-program-title {
        position: absolute;
        left: 10px;
        top: 15px;   
}

.ttc-program-details {
        position: absolute;
        left: 20px;
        top: 37px;
}

.ttc-program-stats {
        position: absolute;
        left:360px;
        top: 4px;
}

.ttc-program-quicklinks{
        position: absolute;
        left: 92%;
        top: 5px;
}

.ttc-program-news .ttc-program-box {
        height: 20px;
        padding: 5px;
        text-align: center;
}

.ttc-display-area {
        height: 340px;
        min-height: 250px;
        overflow: auto;
        width: 100%;
        border: 2px solid lightgrey;
        margin-bottom: 10px;
        padding: 1%;    
        max-width:1071px;
}

.ttc-table-display-area {
        /*height: 340px;*/
        min-height: 250px;
        padding: 10px 10px;
        overflow: hidden;    
        border: 2px solid lightgrey;
        margin-bottom: 10px;   
        background: none repeat scroll 0 0 ;
        /*position: relative;*/
        padding-bottom: 10px; 
        float: left;
        min-width: 728px;    
        max-width:1071px;
}
.ttc-table-display-area-shortcode {
        height: 340px;
        min-height: 250px;
        padding: 52px 10px 18px;
        overflow: hidden;    
        border: 2px solid lightgrey;
        margin-bottom: 10px;   
        background: none repeat scroll 0 0 ;
        position: relative;    
}

.ttc-data-control {
        width: 100%;
        min-height: 35px;
}


/* INDEX TABLE GENERAL */
.ttc-table-scrolling-area {
        /*height: 343px;*/
        min-height: 250px;
        overflow: auto; 
        
}

.ttc-table-scrolling-area thead tr{
        left: 0; 
        top: 0;
        /*position: absolute;*/
        /*padding: 0px 10px 0px;*/   
}

.ttc-table-scrolling-area .phone {
        width: 118px;
}

.ttc-table-scrolling-area .action {
        width: 183px;
        text-align: center;
}

/* TO SORT */
.ttc-table-scrolling-area .action-admin {
        width: 522px;
        text-align: center;
}

.ttc-table-scrolling-area .profile {
        width: 112px;
}

.profile {
        width: 99px;
}

.profile-table-header {
        width: 99px;
}

.responses {
        width: 630px;
}

.ttc-table-scrolling-area .prefix {
        width: 255px;
        word-wrap: break-word;
}

.status {
        text-align: left;
}

/* HOME SPECIFIC */
.ttc-table-scrolling-area .schedules .date-time {
        width: 160px;
}

.ttc-table-scrolling-area .schedules .send-to {
        width: 160px;
}

.ttc-table-scrolling-area .schedules .content-sending {
        min-width: 224px;
        max-width: 537px;
        width: 530px;
        word-wrap: break-word;
}

.ttc-table-scrolling-area .schedules .source {
        width: 160px;
}


/* HISTORY SPECIFIC */
.ttc-table-scrolling-area .histories .direction {
        width: 94px;
}

.ttc-table-scrolling-area .histories .status {
        min-width: 96px;
}

.ttc-table-scrolling-area .histories .details {
        width: 474px;
}

.ttc-table-scrolling-area .histories .details2 {
        width: 520px;
}

.ttc-table-scrolling-area .histories .date-time {
        width: 186px;
}

.ttc-table-scrolling-area .action-requests {
        width: 202px;
        text-align: center;
}

/* PARTICIPANT SPECIFIC */
.ttc-table-scrolling-area .participants .opt-date {
        width: 150px;
}

.ttc-table-scrolling-area .participants .enrolled {
        width: 140px;
}

.ttc-table-scrolling-area .participants .tags {
        width: 140px;
}

.ttc-table-scrolling-area .participants .profile {
        width: 140px;
}

.ttc-table-scrolling-area .participants .optout {
        background: #CE3F3F;
        color: #FFA5A5;
}

/* REQUEST SPECIFIC */
.ttc-table-scrolling-area .requests .keywords {
        width: 140px;
}

.ttc-table-scrolling-area .requests .responses {
        width: 500px;
}

.ttc-table-scrolling-area .requests .do {
        width: 200px;
}

/* UNATTACHED MESSAGE SPECIFIC */
.ttc-table-scrolling-area .unattached-messages .name {
        width: 100px;
}

.ttc-table-scrolling-area .unattached-messages .sent-to {
        width: 165px;
}

.ttc-table-scrolling-area .unattached-messages .content {
        width: 230px;
}

.ttc-table-scrolling-area .unattached-messages .delivery {
        width: 110px;
}

.ttc-table-scrolling-area .unattached-messages .date-time {
        width: 150px;
}

.ttc-table-scrolling-area .unattached-messages .creator {
        width: 100px;
}

/* CONTENT VARIABLE SPECIFIC */
.ttc-table-scrolling-area .content-variables .keys {
        width: 200px;
}

.ttc-table-scrolling-area .content-variables .value {
        width: 700px;
}

.ttc-table-scrolling-area .content-variable-tables .name {
        width: 100px;
}

.ttc-table-scrolling-area .content-variable-tables .values {
        width: 750px;
}

/* PREDEFINE MESSAGE SPECIFIC */
.ttc-table-scrolling-area .predefined-messages .name {
        width: 200px;
}

.ttc-table-scrolling-area .predefined-messages .content {
        width: 700px;
}

/* USERS SPECIFI */
.ttc-table-scrolling-area .users .users-field {
        width: 230px;
}

.unmatchable-reply .content {
        width: 593px;
}

.unmatchable-reply .date-time {
        width: 306px;
}

.unmatchable-reply .direction {
        width: 118px;
}

.unmatchable-reply .phone {
        width: 118px;
}


#log-css {
        width: 813px;
}

.ttc-table-scrolling-area .support {
        width: 336px;
        text-align: center;
}
.ttc-table-scrolling-area .shortcodes {
        width: 118px;
}

.ttc-table-scrolling-area .country. {
        width: 155px;
}

.ttc-table-scrolling-area tbody td{ 
        text-align: left;  
} 

.ttc-table-subelement {
        width: 100%;
}

.ttc-table-subelement tr td{
        padding: 6px;
        text-align: left;
}

.ttc-table-display-area table{
        margin-bottom: 10px;
        width: 100%;
}

.ttc-table-display-area table tr td {
        padding: 6px;
        text-align: left;
}

.ttc-table-display-area-shortcode table tr td {
        padding: 6px;
        text-align: left;
}


.ttc-dialogue {
        float: none;
        margin-bottom: 10px;
        border: 1px solid black;
        padding: 5px 10px 5px 10px;
        height: 28px;
}

.ttc-dialogue a {
        text-decoration: none;
        font-weight: normal;
}

.ttc-dialogue-active {
        background: #19C1FF;    
}

.ttc-dialogue-name {
        font-size: 135%;
        display: inline;
}

.ttc-dialogue-draft {
        color: red;
        font-size: 10px;
        display: inline;
        margin-left: 5px;
}

.ttc-dialogue-status-label {
        float: right;
        display: inline;
        font-size: 10px;
        margin-right: -7px;
        margin-top: -8px;
}

.ttc-advanced-filter {
        display: none;
        float: left;
        width: 70%;
        min-width: 450px;
        clear: none;
        border: 1px dashed grey;
        background: #FFCB4B;
        padding: 3px 2px 0px 3px;
        margin-bottom: 3px;
}

.ttc-advanced-filter p {
        margin: 0px 2px;
        display: inline-block;
}

.ttc-advanced-filter select {
}

.ttc-filter-stack-operator {
        width: 100%;
        margin-bottom: 0px;
}

.ttc-filter-stack {
        margin-bottom: 0px;
        padding-top: 0px;
}

.ttc-filter-title {
        margin-bottom: 0px;
        clear: none;
        font-size: 18px;
        padding: 0px 0px 3px 0px;
        color: #666;
}


.ttc-paging {
        float: right;
        width: 200px;
        text-align: right;
}

.ttc-stack-filter input{
        font-size: 90%;
        width: 200px;
        height: 16px;
}


.ttc-filter-submit {
        font-size : 13px;
        padding: 4px;
        width: 60px;
        margin: 0px;
        padding-left: 0px;
}


.ttc-advanced-filter .submit {
        margin-top: -7px;
        margin-left: -7px;
        margin-bottom: 0px;
}

.ttc-advanced-filter form{
        width: 90%;
        float: left;
        clear: none;
}

.ttc-action-link {
        font-size: 120%;
        color: #2C6877;
}

.ttc-action-link:Hover {
        text-decoration: underline;
        cursor: pointer;
        color: grey;
}

.flash-box {
        height: 30px;
}

.connection-message {
    clear: both;
    color: white;
    position: relative;
    top: 0px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1.5px solid white;
    background: black;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    z-index: 100;
    white-space: nowrap;
}

.credit {
    clear: both;
    position: relative;
    top: 20px;
    z-index: 100;
    margin-bottom: 0px;
    white-space: nowrap;
}

.credit .warning {
        background: orange;
}

.ttc-delete-icon {
        position: absolute;
        right: 7px;
        top: 16px;
        cursor: pointer;
}

.ttc-fold-icon {
        position: absolute;
        right: 30px;
        top: 16px;
        cursor: pointer;
}

.ttc-expand-icon {
        position: absolute;
        right: 30px;
        top: 16px;
        cursor: pointer;
}

.ttc-ok {
        margin-left: 10px;
}

.ttc-add-icon {
        cursor: pointer;
        float: right;
        margin-top: 2px;
        margin-right: 2px;
}

.ttc-stack-filter {
        background: #FFCB4B;
        border: 1px dotted grey;
        margin-bottom: 2px;
        padding: 3px;
}


.ttc-stack-filter select{
        height: 24px;
        margin-right: 3px;
        max-width: 200px;
        text-overflow: ellipsis;
}

.ttc-fold-summary{
        font-style: italic;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 5px;
}

.paging .ttc-page-count{
        color: black;
        border-bottom-width: 0;
        border-right-width: 0;
        border-top-width: 0;
        margin-right: 5px;
}

.paging .ttc-page-count:hover{
        background: white;
}

.sf-menu .ttc-disabled-link {
        border-left: 1px solid #fff;
        border-top: 1px solid white;
        padding: .75em 1em;
        text-decoration: none;
        font-size: 14px;
        display: block;
        position: relative;
        color: grey;
        background: #EDEDED;
}

.ttc-interaction-disabled {
        background: #CCCCCC;
}

.message a {
        color : white;
        text-decoration: none;
        font-weight: normal; 
}

.masstag-error {
        color: #C43C35; 
}

.back-button {    
        margin-top: -44px;
        margin-left: 63px;
}



@media projection, screen  {    
        body {        
                margin: 0;
                min-width: 1061px;
        } 
        #content { 
                padding-top: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                min-width: 800px;
                position: relative;
                overflow-x: hidden;
                height: 483px;
        } 
        
        #content-popup { 
                /*padding: 10px 3px 20px 1px;*/
                /*min-width: 550px;*/
                padding-top: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                min-width: 560px;
                /*max-width: 1366px;*/
                position: relative;
                overflow-x: hidden;
                height: 483px;
                background: #fff;
                clear: both;
                color: #333;
                padding: 10px 20px 20px 20px;
                overflow: auto;
                height: 470px;    
        }         

        .ttc-program-stats {
                left: 36%;
                padding-left: 73px;
                font-size: 11px;
        }
        
        .ttc-program-stats-inside {
                padding: 2px;
                font-size: 12px;
                overflow-y: auto;
                min-width: 190px;
                margin-bottom: 11px;
                border: 2px solid #d3d3d3;
        }
        
        .ttc-program-stats-inside  .stat tr:nth-child(even) {
                background: none;
        }
        
        .ttc-program-stats-inside  .stat tr td{
                border-bottom: none;
                padding-bottom: 1px;
        }
        
        .ttc-program-stats .stat {
                font-weight: bold;
        }

        .ttc-program-index {
                float: left;
                padding: 15px 2%;
                width: 60%;
                min-width: 488px;
        }         
}

.program-left-column {
        float: left;
        width: 202px;
        /*position: absolute;*/
        z-index: 99;
}

.program-left-column1 {
        width:300px;    
        
}

.program-body {
        min-width : 550px;    
        margin-left: 20px;
        float: left;
}

.admin-action {
        position: absolute; 
        padding-left: 13px;
}

.users-index {
        min-width: 547px;    
        padding:10px 20px 10px 0px;    
        position: absolute;    
        margin-left: 235px;
}

.shortcode-index {
        min-width: 819px;    
        padding:10px 20px 10px 0px;    
        position: absolute;    
        margin-left: 202px;
}

.blackets {
        font-size: 14px;
        color: #003D4C;
}

.program-edit {
        margin-left: 235px;
}

.participant-tuncated-profile {
        width: 122px;
        white-space: nowrap;    
        overflow: hidden;    
        text-overflow: ellipsis;    
}

.participant-truncated-enroll {
        width: 94px; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.powered-by {
        height: 30px;
        display: table;
        width: 100%;
}

.powered-by-text {
        color: #404040;
}

.powered-by-logo {
        height: 28px;
        margin-left: 7px;
        vertical-align: middle;
}

.ttc-logo {
        height: 43px;
        margin-right: 7px;
        vertical-align: middle;
        float: right;
}

.program-body .ttc-link {
        font-weight: normal;
        
        color: #003d4c;
}

.break ul li a{
    word-wrap:normal;
    white-space:normal;
    width:115px;
    text-align:center;
}

#masstag-tags{
    margin-bottom: 12px;    
}

/** page title **/
.ttc-page-title {
}

.ttc-page-title .tabs {
        display: inline-block;
        /*border-bottom: 2px solid #19C1FF;*/
        /*height: 22px;*/
}

.ttc-page-title .tabs ul {
        list-style-type: none;
        margin: 0px 0px 0px 10px;
}

.ttc-page-title .tabs li {
        float: left;
        margin: 0px 10px 0px 0px;
        /*border-bottom: 5px solid #81DCFF;*/ 
        color: #81CDFF;
}

.ttc-page-title .tabs li.selected {
        border-bottom: 5px solid #19C1FF;
        color: #19C1FF;
}

.ttc-page-title .tabs label {
        display: block;
        cursor: pointer;
        font-weight: bold;
}

.ttc-page-title .tabs li a {
        /*font-weight: normal;*/
        text-decoration: none;
        color: inherit;
}

.ttc-page-title .tabs a:hover {
        text-decoration: none;
        background: rgba(255,255,255,0.5);
}

.ttc-page-title h3 {
        display: inline-block;
}

.ttc-page-title .ttc-action {
        display: inline-block;
}

/** content Variable table **/
#columns {
        overflow: scroll;
}

.handsontable div {
        padding: 0px;
}

.handsontable .key {
        font-weight: bold;
        background: lightgrey;
}

.handsontable .value {
        
}

.handsontable .cell-success {
        border: 1px solid #3B8230;
        padding: 5px;
}

.handsontable .cell-failure {
        border: 1px solid #c43c35;
        padding: 5px;
}

.configure-program-settings {
    font-size:14px; 
    color:#C43C35; 
    padding-top: 20px;
}

.forget-password {
    float: right;
    margin-top: -44px;
    padding-right: 35px;
}

.forget-password a {
    font-weight: normal;
    font-size: 12px;
}

.captcha-reload {
    font-weight: normal;
}

.timeframe {
        margin-bottom: 5px;
}

.timeframe .caption {
        margin-top: 10px;
        margin-bottom: 10px;
}

.timeframe-form .timeframe{
        margin: 4px;
        padding: 4px;
        border: dotted 1px grey;
}

.timeframe-form .submit{
        margin-left: 10px;
}

.timeframe-form .selected{
        background: lightgrey;
}
/* padding for sms-message-counter */
.sms-message-counter{
        padding-right:5px;       
}

.readonly-field {
        color:#AAAAAA;
}

.credit-logs .stat-summary {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px ;
        margin-right: 10px;
        background-color: lightblue;
        padding: 2px 3px 1px 3px;
        
}

.ttc-checkbox {
        margin-left: 10px;
}
/* USERLOGS SPECIFIC */
.ttc-table-scrolling-area .user-logs .user_logs_field {
        width: 207px;
}

